<nz-modal
  [(nzVisible)]="isVisible"
  nzDraggable
  nzCentered
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="cerrar()"
  [nzWidth]="ancho"
>
  <ng-template #modalTitle>
    {{ titulo }}
  </ng-template>
  <ng-template #modalContent>
    <app-tabla-pag-agregar-multiple-miembros #tabla [itemsInput]="itemsInput"/> 
  </ng-template>
  <ng-template #modalFooter>
    <button
      nz-button
      nzType="link"
      (click)="abrirModal()"
    >
      ¿Miembro no encontrado? Cree uno nuevo
    </button>
    <button
      nz-button
      nzType="default"
      [disabled]="disabledCancelar"
      [nzLoading]="cancelando"
      (click)="cerrar()"
    >
      {{ btnSecundario }}
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="disabledConfirmar"
      [nzLoading]="confirmando"
      (click)="agregar()"
    >
      {{ btnPrimario }}
    </button>
  </ng-template>
</nz-modal>
<ng-container #vcrModal></ng-container>