<nz-page-header>
  <nz-page-header-title>
    <span nz-icon nzType="control" nzTheme="outline"></span>
    <span style="margin: 0 0.5em">Aulas</span>
  </nz-page-header-title>
  <nz-page-header-subtitle>Lista de aulas</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div
      nz-flex
      [nzVertical]="false"
      nzJustify="end"
      nzAlign="center"
      nzGap="small"
    >
      <app-control-exportacion-cargo ngSkipHydration />
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="primary" (click)="abrirModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        <span>Nueva Aula</span>
      </button>
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="panel-filtro">
  <span style="margin-left: 1em">Filtros:</span>
  <app-select-item
    [servicio]="pabellonService"
    [atributos]="['nombre']"
    label="Pabellón"
    (itemChange)="filtrar('pabellon', $event)"
  />
  <nz-divider nzType="vertical"></nz-divider>
  <app-select-item
    [servicio]="procesoService"
    [atributos]="['nombre']"
    label="Proceso"
    (itemChange)="filtrar('proceso', $event)"
  />
  <nz-divider nzType="vertical"></nz-divider>
  <span style="margin-left: 1em">Rango:</span>
  <app-select-item
    [servicio]="periodoService"
    [atributos]="['anio', 'correlat_romano']"
    label="Periodo"
    (itemChange)="ranguear('periodo_numerico', 'inicial', $event)"
  />
  <span>-</span>
  <app-select-item
    [servicio]="periodoService"
    [atributos]="['anio', 'correlat_romano']"
    label="Periodo"
    (itemChange)="ranguear('periodo_numerico', 'final', $event)"
  />
</div>
<div class="panel">
  <app-fichero-aulas #ficheroAulas />
</div>
<ng-container #vcrModal></ng-container>
