<nz-modal
  [(nzVisible)]="isVisible"
  nzDraggable
  nzCentered
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="cerrar()"
  [nzWidth]="ancho"
>
  <ng-template #modalTitle>
    {{ titulo }}
  </ng-template>
  <ng-template #modalContent>
    <Form nz-form [formGroup]="modalForm" [nzLayout]="'vertical'">
      <div nz-row [nzGutter]="8">
        <div class="mensaje">
          @if (accion == 'CREAR') {
            Tenga en cuenta que al crear una comisión, esta pertenecerá al proceso <app-mostrar-proceso-periodo (procesoChange)="setProcesoPeriodoId($event)" />. No se podrán crear comisiones con procesos cerrados.
          } @else {
            Tenga en cuenta que al modificar una comisión, esta pertenecerá al proceso <app-mostrar-proceso-periodo (procesoChange)="setProcesoPeriodoId($event)" />.
          }
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <app-select [controlName]="'comision_id'" [label]="'Comisión'" [atributte]="['id', 'nombre', 'estado']" [option]="[item.comision_id, item.comision]" [servicio]="comisionService"/>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <app-buscar-agregar-multiple formControlName="miembros_ids" [label]="'Miembro'" [entidad]="'Miembro'" [valores]="item.miembros" [control]="modalForm.get('miembros_ids')"/>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <app-date [label]="'Fecha de Ingreso'" [controlName]="'fecha'" [gender]="'F'"/>
        </div>
        <div nz-col [nzSpan]="12">
          <app-time [label]="'Hora de Ingreso'" [controlName]="'hora'" [gender]="'F'"/>
        </div>
      </div>
    </Form>
  </ng-template>
  <ng-template #modalFooter>
    <button
      nz-button
      nzType="default"
      [disabled]="disabledCancelar"
      [nzLoading]="cancelando"
      (click)="cerrar()"
    >
      {{ btnSecundario }}
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="disabledConfirmar"
      [nzLoading]="confirmando"
      (click)="enviarForm()"
    >
      {{ btnPrimario }}
    </button>
  </ng-template>
</nz-modal>
 