<nz-page-header>
    <nz-page-header-title>
      <span nz-icon nzType="user" nzTheme="outline"></span>
      <span style="margin: 0 .5em;">Miembros</span>
    </nz-page-header-title>
    <nz-page-header-subtitle>Lista de miembros</nz-page-header-subtitle>
    <nz-page-header-extra>
      <div nz-flex [nzVertical]="false" nzJustify="end" nzAlign="center" nzGap="small">
        <app-control-exportacion-miembro ngSkipHydration/>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="abrirModal()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          <span>Nuevo Miembro</span>
        </button>
      </div>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="panel">
    <app-tabla-pag-editar-estado-miembros
    ngSkipHydration
    #tablaMiembros
    [scroll]="{ x: '1200px', y: '400px' }"
  />
  </div>
  <ng-container #vcrModal></ng-container>