<div class="credencial">
  <div class="header">
    <img src="/assets/imagenes/uns_logo_blanco.png" alt="UNS Logo" class="logo" />
    <div class="info">
      <span class="comision">COMISIÓN</span>
      <span class="comision-detalle">CONTROL DE PRUEBA</span>
    </div>  
  </div>
  <div class="body">
    <h2 class="miembro">{{ miembro }}</h2>
    <p class="cargo">{{ cargo }}</p>
    <div class="details">
      <div class="columna">
        <strong>DIRECCIÓN DE ADMISIÓN</strong>
        <span>{{ procesoPeriodo }}</span>
      </div>
      <div class="columna">
        <span><strong>FECHA</strong> {{ fecha }}</span>
        <span><strong>HORA</strong> {{ hora }}</span>
      </div> 
    </div>
  </div>
  <div class="footer">
  </div>
</div>
