nz-date-picker ::ng-deep .ant-calendar-picker {
  width: 100%;
}

nz-range-picker,
nz-date-picker,
nz-time-picker {
  width: 100%;
}

::ng-deep .ant-modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.mensaje {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.5em;
}

::ng-deep .ant-modal-body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::ng-deep .ant-modal-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::ng-deep .ant-modal-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::ng-deep .ant-modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}