<nz-page-header>
  <nz-page-header-title>
    <span nz-icon nzType="idcard" nzTheme="outline"></span>
    <span style="margin: 0 0.5em">Credenciales</span>
  </nz-page-header-title>
  <nz-page-header-subtitle>Lista de credenciales</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div
      nz-flex
      [nzVertical]="false"
      nzJustify="end"
      nzAlign="center"
      nzGap="small"
    >
      <app-control-exportacion-cargo ngSkipHydration />
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="panel-filtro">
  <span style="margin-left: 1em">Filtros:</span>
  <app-select-item
    [servicio]="comisionService"
    [atributos]="['descripcion']"
    label="Comisión"
    (itemChange)="filtrar('comision', $event)"
  />
  <nz-divider nzType="vertical"></nz-divider>
  <app-select-item
    [servicio]="procesoService"
    [atributos]="['descripcion']"
    label="Proceso"
    (itemChange)="filtrar('proceso', $event)"
  />
  <nz-divider nzType="vertical"></nz-divider>
  <span style="margin-left: 1em">Rango:</span>
  <app-select-item
    [servicio]="periodoService"
    [atributos]="['anio', 'correlativo_romano']"
    label="Periodo"
    (itemChange)="ranguear('periodo_numerico', 'inicial', $event)"
  />
  <span>-</span>
  <app-select-item
    [servicio]="periodoService"
    [atributos]="['anio', 'correlativo_romano']"
    label="Periodo"
    (itemChange)="ranguear('periodo_numerico', 'final', $event)"
  />
</div>
<div class="panel-mosaico">
  <div class="panel">
    <app-vista-previa-credencial
      [comision]="miembroCargo.comision"
      [miembro]="miembroCargo.miembro"
      [cargo]="miembroCargo.cargo"
      [procesoPeriodo]="miembroCargo.proceso_periodo"
      [fecha]="miembroCargo.fecha"
      [hora]="miembroCargo.hora"
    />
    <div class="controles">
      <button
        nz-button
        nzType="default"
        (click)="generarCredencial('descargar')"
      >
        <span
          nz-icon
          nzType="download"
          nzTheme="outline"
          style="margin-right: 0.5em"
        ></span>
        <span>Descargar</span>
      </button>
      <button nz-button nzType="default" (click)="generarCredencial('abrir')">
        <span
          nz-icon
          nzType="export"
          nzTheme="outline"
          style="margin-right: 0.5em"
        ></span>
        <span>Abrir en una ventana</span>
      </button>
    </div>
  </div>
  <div class="panel">
    <app-tabla-pag-mostrar-miembros
      ngSkipHydration
      #tablaMiembros
      [scroll]="{ x: '575px', y: '400px' }"
      (itemChange)="mostrar($event)"
    />
  </div>
</div>

<ng-container #vcrModal></ng-container>
