<nz-page-header>
  <nz-page-header-title>
    <span nz-icon nzType="calendar" nzTheme="outline"></span>
    <span style="margin: 0 .5em;">Periodos</span>
  </nz-page-header-title>
  <nz-page-header-subtitle>Lista de periodos</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div nz-flex [nzVertical]="false" nzJustify="end" nzAlign="center" nzGap="small">
      <app-control-exportacion-cargo ngSkipHydration/>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="primary" (click)="abrirModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        <span>Nuevo Periodo</span>
      </button>
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="panel">
  <app-fichero-periodos #ficheroPeriodos/>
</div>
<ng-container #vcrModal></ng-container>