nz-flex {
  margin: 0;
  margin-bottom: 1em;
}

nz-form-item {
  margin: 0;
  margin-bottom: 1em;
}

.ant-table-tbody > tr > td {
  padding: 0 8px 1px;
}

/* media queries, para cuando la pantalla es menor a 1000px */
@media (max-width: 1000px) {

  .hidden {
    display: none;
  }
}