<nz-modal
  [(nzVisible)]="isVisible"
  nzDraggable
  nzCentered
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="cerrar()"
  [nzWidth]="ancho"
>
  <ng-template #modalTitle>
    {{ titulo }}
  </ng-template>
  <ng-template #modalContent>
    <Form nz-form [formGroup]="modalForm" [nzLayout]="'vertical'">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <app-select [label]="'Pabellón'" [controlName]="'pabellon_id'" [atributte]="['id', 'nombre', 'estado']" [option]="[item.pabellon_id, item.pabellon]" [servicio]="pabellonService" [accion]="accion"/>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
          <app-input [label]="'Piso'" [controlName]="'piso'" [type]="'number'"></app-input>
        </div>
        <div nz-col [nzSpan]="8">
          <app-input [label]="'Correlativo'" [controlName]="'correlativo'"></app-input>
        </div>
        <div nz-col [nzSpan]="8">
          <app-input [label]="'Aforo'" [controlName]="'aforo'"></app-input>
        </div>
      </div>
    </Form>
  </ng-template>
  <ng-template #modalFooter>
    <button
      nz-button
      nzType="default"
      [disabled]="disabledCancelar"
      [nzLoading]="cancelando"
      (click)="cerrar()"
    >
      {{ btnSecundario }}
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="disabledConfirmar"
      [nzLoading]="confirmando"
      (click)="enviarForm()"
    >
      {{ btnPrimario }}
    </button>
  </ng-template>
</nz-modal>
 